/* Estilos para a o menu dos botões da lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: navy;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar img {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    height: 50px;
    background-color: #336699;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.button.highlight {
    background-color: white;
    color: navy;
}

/* Estilos para o conteúdo centralizado */
.conteudo-centralizado {
    text-align: center;
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    max-width: 600px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para o formulário de cadastro */
.cadastro-form {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.cadastro-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.cadastro-form .form-group {
    margin-bottom: 20px;
}

.cadastro-form label {
    font-weight: bold;
}

.cadastro-form .input-wrapper {
    display: flex;
    align-items: center;
}

.cadastro-form input[type="text"],
.cadastro-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.cadastro-form input[type="text"]:focus,
.cadastro-form select:focus {
    outline: none;
    border-color: #336699;
}

.cadastro-form .form-group::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #ccc;
    margin-right: 10px;
}

.cadastro-form .btn-primary {
    background-color: #336699;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-form .btn-primary:hover {
    background-color: #285f87;
}

/* Estilos para as mensagens flash */
.flash-messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.flash-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.flash-category-success {
    background-color: #28a745;
    color: #fff;
}

.flash-category-info {
    background-color: #17a2b8;
    color: #fff;
}

.flash-category-warning {
    background-color: #ffc107;
    color: #212529;
}

.flash-category-error {
    background-color: #dc3545;
    color: #fff;
}


.welcome {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.welcome p {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

.welcome .button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #336699;
    color: white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.welcome .button:hover {
    background-color: #285f87;
}
