{% extends 'base.html' %}

{% block body %}
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='mdb.jpg') }}" alt="Foto">
        <button class="button" onclick="exibirConteudo('painel', this)">Painel</button>
        <button class="button" onclick="exibirConteudo('treinamentos', this)">Treinamentos</button>
        <button class="button" onclick="exibirConteudo('cadastro', this)">Cadastro</button>
        <button class="button" onclick="exibirConteudo('sessao-download', this)">Sessão Download</button>
    </div>
    <div class="content" id="conteudo">
        <div class="conteudo-centralizado">
            <h2>Cadastro</h2>
            <form action="{{ url_for('cadastro') }}" method="POST">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.nome.label }}
                    <div class="input-wrapper">
                        {{ form.nome() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.re.label }}
                    <div class="input-wrapper">
                        {{ form.re() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.confirmacao_re.label }}
                    <div class="input-wrapper">
                        {{ form.confirmacao_re() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.setor.label }}
                    <div class="input-wrapper">
                        {{ form.setor() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.cargo.label }}
                    <div class="input-wrapper">
                        {{ form.cargo() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
{% endblock %}
