{% extends 'base.html' %}

{% block body %}
<body>
    <div class="conteudo-centralizado">
        <h2>Sessão de Download</h2>
        <form id="download_form" method="POST" action="{{ url_for('iniciar_download') }}">
            <div class="form-group">
                <label for="treinamento_id">Treinamento:</label>
                <select class="form-control" id="treinamento_id" name="treinamento_id">
                    {% for treinamento in treinamentos %}
                        <option value="{{ treinamento.id }}">{{ treinamento.nome }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Download</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
{% endblock %}
