{% extends 'base.html' %}

{% block body %}
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='mdb.jpg') }}" alt="Foto">
        <button class="button" onclick="exibirConteudo('painel', this)">Painel</button>
        <button class="button" onclick="exibirConteudo('treinamentos', this)">Treinamentos</button>
        <button class="button" onclick="exibirConteudo('cadastro', this)">Cadastro</button>
        <button class="button" onclick="exibirConteudo('sessao-download', this)">Sessão Download</button>
    </div>
    <div class="content" id="conteudo">
        <div class="conteudo-centralizado">
            <h2>Conteúdo dos Treinamentos</h2>
            <div class="treinamento-form">
                <div class="form-group">
                    <label for="nome-treinamento">Nome do Treinamento:</label>
                    <div class="input-wrapper">
                        <input type="text" name="nome-treinamento" id="nome-treinamento" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nome-professor">Nome do Professor:</label>
                    <div class="input-wrapper">
                        <input type="text" name="nome-professor" id="nome-professor" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="setor-treinamento">Setor do Treinamento:</label>
                    <div class="input-wrapper">
                        <select name="setor-treinamento" id="setor-treinamento" required>
                            <option value="">Selecione um setor</option>
                            <option value="Produção">Produção</option>
                            <option value="Logística">Logística</option>
                            <option value="Armazenamento">Armazenamento</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="data-treinamento">Data do Treinamento:</label>
                    <div class="input-wrapper">
                        <input type="date" name="data-treinamento" id="data-treinamento" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="hora-treinamento">Hora do Treinamento:</label>
                    <div class="input-wrapper">
                        <input type="time" name="hora-treinamento" id="hora-treinamento" required>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Salvar">
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
{% endblock %}
