{% extends 'base.html' %}

{% block body %}
<body>
    <div class="content" id="conteudo">
        <div class="conteudo-centralizado">
            <h2>Conteúdo dos Treinamentos</h2>
            <form action="{{ url_for('treinamentos') }}" method="POST" class="cadastro-form">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li class="flash-message">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="form-group">
                    <label for="nome_treinamento">Nome do Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.nome_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="descricao_treinamento">Descrição do Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.descricao_treinamento(class="input-textarea") }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="nome_professor">Nome do Professor</label>
                    <div class="input-wrapper">
                        {{ form.nome_professor() }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="setor_treinamento">Setor do Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.setor_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="data_treinamento">Data do Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.data_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="hora_treinamento">Hora do Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.hora_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="tipo_treinamento">Tipo de Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.tipo_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="sala_treinamento">Sala do Treinamento</label>
                    <div class="input-wrapper">
                        {{ form.sala_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
{% endblock %}
