{% extends 'base.html' %}

{% block body %}
<body>
    <div class="sidebar">
        <img src="{{ url_for('static', filename='mdb.jpg') }}" alt="Foto">
        <button class="button" onclick="exibirConteudo('painel', this)">Painel</button>
        <button class="button" onclick="exibirConteudo('treinamentos', this)">Treinamentos</button>
        <button class="button" onclick="exibirConteudo('cadastro', this)">Cadastro</button>
        <button class="button" onclick="exibirConteudo('sessao-download', this)">Sessão Download</button>
    </div>
    <div class="content" id="conteudo">
        <div class="conteudo-centralizado">
            <h2>Conteúdo dos Treinamentos</h2>
            <form action="{{ url_for('treinamentos') }}" method="POST">
                {{ form.csrf_token }}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flash-messages">
                            {% for message in messages %}
                                <li class="flash-message">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}

                <div class="form-group">
                    {{ form.nome_treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.nome_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.nome_professor.label }}
                    <div class="input-wrapper">
                        {{ form.nome_professor() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.setor_treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.setor_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.data_treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.data_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.hora_treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.hora_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.tipo_treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.tipo_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.sala_treinamento.label }}
                    <div class="input-wrapper">
                        {{ form.sala_treinamento() }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
{% endblock %}
