/* Estilo dos botões */
.button {
  background-color: #4CAF50; /* Cor de fundo */
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  padding: 15px 32px; /* Espaçamento interno */
  text-align: center; /* Alinhamento de texto */
  text-decoration: none; /* Sem sublinhado */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px; /* Borda arredondada */
}

/* Estilo do botão "Login RH" */
.rh {
  background-color: #f44336;
  font-size: 15px;
  transition: 0.5s;
}

.rh:hover{
font-size: 20px;
}

/* Estilo do botão "Login Professor" */
.professor {
  background-color: #008CBA;
  font-size: 15px;
  transition: 0.5s;
}

.professor:hover{
font-size: 20px;
}

/* Estilo do botão "Login Colaborador" */
.colaborador {
  background-color: #555555;
  transition: 0.5s;
  font-size: 15px;
}
.colaborador:hover{
  font-size: 20px;
}
<<<<<<< HEAD
=======
/* Animações de Botões */
.button-rh{
  font-size: 10px;
  transition: 0.5s;
}

.button-rh:hover{
  font-size: 15px;
}

.button-professor{
  font-size: 10px;
  transition: 0.5s;
}

.button-professor:hover{
  font-size: 15px;
}

.button-colaborador{
  font-size: 10px;
  transition: 0.5s;
}

.button-colaborador:hover{
  font-size: 15px;
}
>>>>>>> origin/main
/* Estilo do botão "Criar conta" */
.criar-conta {
  background-color: #f44336;
}
.criar-conta:hover{
  font-size: 20px;
}
.button-criar-conta{
  font-size: 10px;
  transition: 0.5s;
}

/* Estilo do elemento pai do bloco de conteúdo */
.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
/* Edições acima são da página de Logins */

body {
  background-color: #ADD8E6;
}

.navbar {
  background-color: rgba(0, 0, 239, 0.3);
  padding: 20px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-image {
  max-height: 50px;
}

.nav-image-left {
  margin-left: 10px;
}

.nav-image-center {
  margin: 0 auto;
}

.nav-image-right {
  margin-right: 10px;
}
.half-width {
      width: 50% !important;
    }

/* Estilo dos botões das páginas  */
.professor-content-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.left-sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.left-sidebar button {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.left-sidebar button:hover {
  background-color: #3e8e41;
}

.sair {
  background-color: #f44336;
}

.adicionar-treinamento {
  background-color: #4CAF50;
}

.editar-treinamento {
  background-color: #4CAF50;
}

.adicionar-colaborador {
  background-color: #4CAF50;
}






