{% extends 'base.html' %}

{% block title %}
  M.D.B Treinamentos
{% endblock %}

{% block content %}
<body>
  <div class="form-container">
    <h2>Adicionar Treinamento</h2>

    <form>
      <div>
        <label for="professor">Professor:</label>
        <input type="text" id="professor" name="professor">
      </div>

      <div>
        <label for="nome-treinamento">Nome do Treinamento:</label>
        <input type="text" id="nome-treinamento" name="nome-treinamento">
      </div>

      <div>
        <label for="descricao-treinamento">Descrição do Treinamento:</label>
        <textarea id="descricao-treinamento" name="descricao-treinamento"></textarea>
      </div>

      <div>
        <label for="data">Data:</label>
        <input type="date" id="data" name="data">
      </div>

      <div>
        <label for="horario">Horário:</label>
        <input type="time" id="horario" name="horario">
      </div>

      <div>
        <input type="checkbox" id="online" name="online" onchange="toggleOnlineFields()">
        <label for="online">Online</label>
      </div>

      <div id="link-youtube" style="display: none;">
        <label for="youtube-link">Link Embed do YouTube:</label>
        <input type="text" id="youtube-link" name="youtube-link">
      </div>

      <div>
        <input type="checkbox" id="presencial" name="presencial" onchange="togglePresencialFields()">
        <label for="presencial">Presencial</label>
      </div>

      <div id="endereco-treinamento" style="display: none;">
        <label for="endereco">Endereço do Treinamento:</label>
        <input type="text" id="endereco" name="endereco">
      </div>

      <button type="submit">Adicionar</button>
    </form>
  </div>

  <script>
    function toggleOnlineFields() {
      var onlineCheckbox = document.getElementById("online");
      var presencialCheckbox = document.getElementById("presencial");
      var linkYoutube = document.getElementById("link-youtube");

      if (onlineCheckbox.checked) {
        presencialCheckbox.checked = false;
        presencialCheckbox.disabled = true;
        linkYoutube.style.display = "block";
      } else {
        presencialCheckbox.disabled = false;
        linkYoutube.style.display = "none";
      }
    }

    function togglePresencialFields() {
      var onlineCheckbox = document.getElementById("online");
      var presencialCheckbox = document.getElementById("presencial");
      var enderecoTreinamento = document.getElementById("endereco-treinamento");

      if (presencialCheckbox.checked) {
        onlineCheckbox.checked = false;
        onlineCheckbox.disabled = true;
        enderecoTreinamento.style.display = "block";
      } else {
        onlineCheckbox.disabled = false;
        enderecoTreinamento.style.display = "none";
      }
    }
  </script>
</body>
{% endblock %}
