{% extends 'base.html' %}

{% block title %}
  M.D.B Treinamentos
{% endblock %}


{% block content %}
<div class="content-container">
  <h2>Escolha o tipo de login:</h2>
  <a href="/rh">
    <button class="button rh">Login RH</button>
  </a>
  <a href="/professor">
    <button class="button professor">Login Professor</button>
  </a>
  <a href="/colaborador">
    <button class="button colaborador">Login Colaborador</button>
  </a>
  <br>
  <a href="/criar_conta">
    <button class="button criar-conta">Criar conta</button>
  </a>
</div>
{% endblock %}
