{% extends 'base.html' %}

{% block title %}
  M.D.B Treinamentos - RH
{% endblock %}

{% block content %}
  <div class="button-container">
    <button class="button-mdbr button treinamentos">Treinamentos</button><br>
    <button class="button-mdbr button adicionar-treinamento">Adicionar Treinamento</button><br>
    <button class="button-mdbr button editar-treinamento">Editar Treinamento</button><br>
    <button class="button-mdbr button adicionar-colaborador">Adicionar Colaborador</button><br>
    <button class="button-mdbr button sair">Sair</button>
  </div>
{% endblock %}
